<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kitap Listesi</title>
	<link rel="stylesheet" type="text/css" href="~/css/TableStyle.css">
</head>
<body class="light-theme">
	<button class="btn" onclick="toggleTheme()">Toggle Theme</button>

	<h2>Okunan Kitaplar Listesi</h2>
	<table>
		<thead>
			<tr>
				<th>Başlık</th>
				<th>Yazarlar</th>
				<th>Başlangıç Tarihi</th>
				<th>Hangi Sayfa</th>
				<th>Tamamlandı Mı?</th>
				<th>İncele</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var book in Model)
			{
				<tr>
					<td>@book.Title</td>
					<td>@book.Authors</td>
					<td>@book.BeginDate</td>
					<td>@book.PageCount</td>
					<td>
						<form asp-controller="FinishedBook" asp-action="Complete" method="post">
							<input type="hidden" name="id" value="@book.UserBookId" />
							<button type="submit" class="btn btn-info">Tamamlanmadı Olarak İşaretle</button>
						</form>
					</td>
					<td style="white-space: nowrap">
						<a class="btn btn-primary" asp-controller="FinishedBook" asp-action="AddReview" asp-route-id="@book.UserBookId">İncele</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<script>
		function toggleTheme() {
			const body = document.body;
			body.classList.toggle('dark-theme');
			body.classList.toggle('light-theme');
		}
	</script>

</body>
</html>
